body{
  width: 100%;
}
.lgofflogo{
  width: 60px;
  margin-left:40%;
  margin-right:45%;
}

.lginlogo{
  width: 60px;
  margin-left:40%;
  margin-right:35%;
}

.drop{
  display: inline-block;
  margin-left: 20px;
}

.select{
  width:500px;
  margin:0;
}

.search{
  margin-left: 30%;
  margin-top: 10%;
}

.sbutt{
  position: relative;
  left: 520px;
  bottom: 35px;
}

.buycheck{
  position: relative;
  left: 600px;
}

.rentcheck{
  position: relative;
  left: 800px;
}
.account {
  display: flex;
  margin-top: 70px;
  width: 100%;
}
.column {
  margin-left: 250px;
  width: 30%;
}
.buttonPostsChanges {
  display: flex;
  justify-content: center;
}